// Required
@import './bootstrap/scss/functions';
@import './helper/variables';
@import './bootstrap/scss/mixins';
@import "./bootstrap/scss/utilities";

// Layout & components
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
@import "./bootstrap/scss/images";
@import "./bootstrap/scss/grid";
@import "./bootstrap/scss/tables";
@import "./bootstrap/scss/forms";
@import "./bootstrap/scss/buttons";
@import "./bootstrap/scss/transitions";
@import "./bootstrap/scss/dropdown";
@import "./bootstrap/scss/button-group";
@import "./bootstrap/scss/nav";
@import "./bootstrap/scss/navbar";
@import "./bootstrap/scss/card";
@import "./bootstrap/scss/breadcrumb";
@import "./bootstrap/scss/pagination";
@import "./bootstrap/scss/badge";
@import "./bootstrap/scss/alert";
@import "./bootstrap/scss/progress";
@import "./bootstrap/scss/list-group";
@import "./bootstrap/scss/close";
@import "./bootstrap/scss/toasts";
@import "./bootstrap/scss/modal";
@import "./bootstrap/scss/tooltip";
@import "./bootstrap/scss/popover";
@import "./bootstrap/scss/carousel";
@import "./bootstrap/scss/spinners";




body{
    font-family:Microsoft JhengHei;
}
.bg-cover{
  background-size: cover;
  position: center center;
}
.styles{
  position: relative;
 
}

.normal{
  background-image:url(/img/ani1.jpg) ;
  height: 250px;
  position: absolute;
  right: 320px;
  z-index: 400;
  border-radius: 10px;
}
.normal:hover{
 box-shadow: 0 0 20px grey;
//圖片放大
 overflow:hidden;
 transform: scale(1.1);
 transition:all 0.05s ease 0s
}

.animal{
  background-image: url(/img/ani2.jpg);
  height: 250px;
  position: absolute;
  right: 220px;
  z-index: 300;
  border-radius: 10px;
}
.animal:hover{
  z-index: 500;
  box-shadow: 0 0 20px red;
  overflow:hidden;
  transform: scale(1.1);
  transition:all 0.05s ease 0s
}

.plant{
  background-image: url(/img/pla1.jpg);
  height: 250px;
  position: absolute;
  right: 120px;
  z-index: 200;
  border-radius: 10px;
}
.plant:hover{
  z-index: 500;
  box-shadow: 0 0 20px yellow;
  overflow:hidden;
 transform: scale(1.1);
 transition:all 0.05s ease 0s
}

.special{
  background-image: url(/img/mac1.jpg);
  height: 250px;
  position: absolute;
  right: 20px;
  z-index: 100;
  border-radius: 10px;
}
.special:hover{
 z-index: 500;
 box-shadow: 0 0 20px orchid;
 overflow:hidden;
 transform: scale(1.1);
 transition:all 0.05s ease 0s
}

// ------------------------------------------


.wrap-nor{
  max-width: 1920px;

}

.header{
  background-color: $primary;
  height: 250px;
}
.side{
    position: absolute;
    left: 30px;
    top:0;
    width: 320px;
    background-color: $secondary;
}

.myphoto{
    width: 272px;
    height: 272px;
    border: solid 10px $primary;
    border-radius: 50%;
    background-image: url(/img/photo.png);
    background-size: cover;
    position: center center;
}

.myphototop{
    display: none;
}

.about{
    text-indent: 32px;
    line-height: 2;
}

.character{
    text-indent: 32px;
    line-height: 2; 
}

.int{
    text-indent: 32px;
    line-height: 2; 
}

.QR{
  display: block;
 width: 100px;
 margin: 0 auto;
}

.line {
  border-bottom: 1px solid $primary !important;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 10px solid $primary;
  border-width: 3px 100px;
  top: -3px;
  right:36px;
  border-radius: 3px;
}

.line-blue {
  border-bottom: 1px solid $secondary !important;
  position: relative;
}

h2{
    color: $primary;
}

.h2-blue{
    color:$secondary;
}

.content{
    margin-left: 400px;
}

/* timeline */

.time{
  position: relative;
  /* 讓偽元素以 ul 作為定位點，因此 ul 需要設定為「相對位置」 */
}
/* 2. li margin-bottom */
.edu{
  margin-bottom: 32px;
}
/* 3. 利用偽元素做圓點*/
.edu::before{ /*前方偽元素*/
  content: "";
  /*產生一個空的元素，偽元素使用不能少的步驟*/
  position: absolute;
  /* 偽元素需設定成「絕對位置」 */
  width: 16px; /*圓點寬*/
  height: 16px;/*圓點高*/
  background-color: #96A9C4; /*圓點 color*/
  border-radius: 50%; /*圓*/
  left: -32px; /*圓點本來覆蓋在 li 上*/
}
/* 4. 利用偽元素做線*/
.timeline::after{ /*後方偽元素*/
  content: "";
  /*產生一個空的元素，偽元素使用不能少的步驟*/
  position: absolute;
  /* 偽元素需設定成「絕對位置」 */
  border-left: 1px solid #96A9C4;
  /* 一定要加上 top, bottom 的值，線條才會有高度 */
  top: 0px;
  bottom: 0px;
  /* 設定 top 0px, bottom 0px 就會剛好撐滿整個 ul 的高度 */	
  left: -24px;
  /* 為了要讓線條對準圓心，因此需往左 16px（圓圈和文字之間的距離）+ 8px（圓圈的半徑）= 24px */
}

.progress-bar{
    color:$secondary;
    background-color: $primary;
}

.fas,.fab{
  color: $secondary;
}

.fa-check{
  color:$primary ;
}

.character{
   line-height: 2;
}

.introduction{
  text-indent: 32px;
  line-height: 2;
}
@media (max-width: 768px) { 
    .side{
       position: relative;
       width: auto;
       left: 0;
    }
    .header{
     text-align: center;
    }
    .headerContent{
     margin-left: 0;
    } 
    .myphoto{
        display: none;
    }
    .myphototop{
    display: block;
    width: 272px;
    height: 272px;
    border: solid 10px $primary;
    border-radius: 50%;
    margin: 40px auto;   
}
    .content{
    margin-left: 0;
   }
   .line:before{
       display: none;
   }
 }



// animal---------------------------------------------------------

.wrap-ani{
  background-image: url(../img/dog.gif);
  max-width: 1920px;

.header{
  background-image: url(../img/dog1-01.jpg);
  height: 250px;
  position: right bottom;
}


.data{
    background-color: $coffee;
}
.data-1{
  border-radius: 50px 0 0 50px;
}
.data-4{
  border-radius: 0 50px 50px 0;
}


.img-border{
  border-radius:50px;
}

.myphoto-ani{
    width: 180px;
    height: 180px;
    border: solid 10px $yellow;
    border-radius: 50%;
    background-image: url(/img/photo.png);
}
.about{
    text-indent: 32px;
    line-height: 2;
}

.character{
    text-indent: 32px;
    line-height: 2; 
}

.int{
    text-indent: 32px;
    line-height: 2; 
}

.QR{
 display: block;
 width: 100px;
 margin: 0 auto;
}

.line {
  border-bottom: 1px solid $yellow !important;
}

.line-blue {
  border-bottom: 1px solid $secondary !important;

}
.card{
  background-color: $coffee;
}

h2{
    color: $yellow;
}

.h2-blue{
    color:$secondary;
}

.line::before {
  content: "";
  display: none;
}

/* timeline */

.time{
  position: relative;
}
.edu{
  margin-bottom: 32px;
}
.edu::before{ 
  content: "";
  position: absolute;
  width: 16px; 
  height: 16px;
  background-color: #96A9C4; 
  border-radius: 50%; 
  top: -32px;
}

.timeline::after{ 
  content: "";
  position: absolute;
  border-top: 1px solid #96A9C4;
  left: 15px;
  right: 0px;
  top: -24px;
}


.progress-bar{
    color:$secondary;
    background-color: $yellow;
}

.fas,.fab{
  color: $secondary;
}

.fa-check{
  color:$yellow ;
}

.character{
   line-height: 2;
}

.introduction{
  text-indent: 32px;
  line-height: 2;
}
@media (max-width: 768px) { 
  .myphoto-ani{
  width: 272px;
  height: 272px;
    }
   .data-1{
  border-radius: 0;
    }
   .data-4{
  border-radius: 0;
    }
 }


}

// plant-------------------------------------------------
.wrap-pla{
  background-image: url(../img/sakura.png);
  max-width: 1920px;
  .header{
  background-image: url(../img/sakura2.jpg);
  height: 250px;
}

.photo{
  background-color: $info;
}

.myphoto-pla{
    width: 272px;
    height: 272px;
    border: solid 10px $info;
    border-radius: 50%;
    background-image: url(/img/photo.png);
    background-size: cover;
    position: center center;
 
}

.about{
    text-indent: 32px;
    line-height: 2;
}

.character{
    text-indent: 32px;
    line-height: 2; 
}

.int{
    text-indent: 32px;
    line-height: 2; 
}

.QR{
display: block;
 width: 100px;
 margin: 0 auto;
}

.line {
  border-bottom: 1px solid $info !important;
  position: relative;
  text-align: right;
}

.line::before {
  content: "";
  display: none;
}

.line-blue {
  border-bottom: 1px solid $secondary !important;
}

h2{
    color: $info;
}

.h2-blue{
    color:$secondary;
}


/* timeline */

.time{
  position: relative;
}
.edu{
  margin-bottom: 32px;
}
.edu::before{ 
  content: "";
  position: absolute;
  
  width: 8px; 
  height: 8px;
  background-color: #96A9C4; 
  border-radius: 50%; 
  left: -18px; 
}
.timeline::after{ 
  content: "";
  position: absolute;
  border-left: 1px solid #96A9C4;
  top: 0px;
  bottom: 0px;
  left: -14px;
}

.progress-bar{
    color:$secondary;
    background-color: $info;
}

.fas,.fab{
  color: $secondary;
}

.fa-check{
  color:$info ;
}

.character{
   line-height: 2;
}

.introduction{
  text-indent: 32px;
  line-height: 2;
}
.photo-10{
  background-image: url(../img/photo10.jpg);
}
.photo-20{
  background-image: url(../img/photo20.jpg);
}



@media (max-width: 768px) { 
   .photo-30{
     background-image: url(../img/photo10.jpg);
     color:white;
     .h2-blue{
       color: white;
     }
   }
   .photo-40{
     background-image: url(../img/photo20.jpg);
      color:white;
     .h2-blue{
       color: white;
     }
   }
 }

}

