.wrap{
    max-width: 1920px;
    // background-color: $gray-300;
}

.work-list a{
 color:$light;
 background-color: $secondary;
 &:hover{
 color:$secondary;
 background-color: $primary;
 }
}
.work-list a.active{
    color:$secondary;
}

#full-video-works{
 position: fixed;
  min-width:100%;
  min-height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
//   opacity: .5;
}


@media (max-width: 768px){
    .works-head{
        height: auto;
    }
    .work-sele{
    padding-top:20px ;
}
}